<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
{% block content %}
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}
<p>Create Reservation</p>
{% if user.is_authenticated %}
    {% if submitted %}
        <p>Your reservation was successful!</p>
    {% else %}
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <form action="" method="POST" id="ReservationForm" autocomplete="off" data-parking-spots-url="{% url 'ajax_load_parking_spots' %}">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="fieldWrapper">
                    {{ form.car.errors }}
                    <label for="{{ form.car.id_for_label }}">Car:</label>
                    {{ form.car }}
                </div>
                <div class="fieldWrapper">
                    {{ form.parking.errors }}
                    <label for="{{ form.parking.id_for_label }}">Garage:</label>
                    {{ form.parking }}
                </div>
                <div class="fieldWrapper">
                    {{ form.start_date.errors }}
                    <label for="{{ form.start_date.id_for_label }}">Start date:</label>
                    {{ form.start_date }}
                </div>
                <div class="fieldWrapper timepicker">
                    {{ form.start_time.errors }}
                    <label for="{{ form.start_time.id_for_label }}">Start time:</label>
                    {{ form.start_time }}
                </div>
                <div class="fieldWrapper">
                    {{ form.end_date.errors }}
                    <label for="{{ form.end_date.id_for_label }}">End date:</label>
                    {{ form.end_date }}
                </div>
                <div class="fieldWrapper timepicker">
                    {{ form.end_time.errors }}
                    <label for="{{ form.end_time.id_for_label }}">End time:</label>
                    {{ form.end_time }}
                </div>
                <br />
                <input type="submit" value="Reserve" class="btn btn-success">
            </form>
          </div>
        </div>
    <script>
    // Handles date selector ui elements
      $( function() {
        var dateFormat = "mm/dd/yy",
          start = $( "#id_start_date" )
            .datepicker({
              defaultDate: "+1w",
              minDate: "-0",
              changeMonth: true,
              numberOfMonths: 1
            }).on( "change", function() {
              end.datepicker( "option", "minDate", getDate( this ) );
            }),
          end = $( "#id_end_date" ).datepicker({
            defaultDate: "+1w",
            changeMonth: true,
            numberOfMonths: 1
          }).on( "change", function() {
            start.datepicker( "option", "maxDate", getDate( this ));
          });

        function getDate( element ) {
          var date;
          try {
            date = $.datepicker.parseDate( dateFormat, element.value );
          } catch( error ) {
            date = null;
          }

          return date;
        }
      });

        $("#id_parking").change(function () {
            const url = $("#ReservationForm").attr("data-parking-spots-url");
            const parkingId = $(this).val();

            $.ajax({
                url: url,
                data: {
                    'parking_id': parkingId
                },
                success: function (data) {
                    $("#id_parking_spot").html(data);
                }
            });

        });
  </script>

<script>
    $('.timepicker > input').timepicker({
    timeFormat: 'h:mm p',
    interval: 60,
    minTime: '12:00am',
    maxTime: '11:00pm',
    defaultTime: '12:00pm',
    startTime: '5:00am',
    dynamic: false,
    dropdown: true,
    scrollbar: true
});
</script>
    {% endif %}
{% endif %}
{% endblock %}
</html>