<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
{% block content %}
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}
<p>Create Reservation</p>
{% if user.is_authenticated %}
    {% if submitted %}
        <p>Your reservation was successful!</p>
    {% else %}
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <form action="" method="POST" autocomplete="off">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Reserve" class="btn btn-success">
            </form>
          </div>
        </div>
    <script>
    // Handles date selector ui elements
      $( function() {
        var dateFormat = "mm/dd/yy",
          start = $( "#id_start_date" )
            .datepicker({
              defaultDate: "+1w",
              minDate: "-0",
              changeMonth: true,
              numberOfMonths: 1
            }).on( "change", function() {
              end.datepicker( "option", "minDate", getDate( this ) );
            }),
          end = $( "#id_end_date" ).datepicker({
            defaultDate: "+1w",
            changeMonth: true,
            numberOfMonths: 1
          }).on( "change", function() {
            start.datepicker( "option", "maxDate", getDate( this ));
          });

        function getDate( element ) {
          var date;
          try {
            date = $.datepicker.parseDate( dateFormat, element.value );
          } catch( error ) {
            date = null;
          }

          return date;
        }
      });
  </script>
    {% endif %}
{% endif %}
{% endblock %}
</html>