

<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
{% block content %}
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}
{% if user.is_authenticated %}
<div class="d-flex flex-column vh-100 flex-shrink-0 p-3 bg-dark" style="width: 250px;"> <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-decoration-none"> <svg class="bi me-2" width="40" height="32"> </svg> </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li> <a href="#" class="nav-link"><span class="ms-2">Dashboard</span> </a> </li>
        <li> <a href="#" class="nav-link"></i><span class="ms-2">Reserve a spot</span> </a> </li>
        <li> <a href="#" class="nav-link"></i><span class="ms-2">My Orders</span> </a> </li>
    </ul>
    <hr>

</div>
{% endif %}
{% endblock %}
</html>